!!!
%html
  %head
    %link{ :href => 'http://fonts.googleapis.com/css?family=Slabo+27px', :rel => 'stylesheet', :type => 'text/css'}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "css/all.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "css/loader01.css"}
  %body
    .header 
      .header-section
        %h2 Loading.CSS
        %p A mini-series of basic animated loaders using only 1 HTML element and 100% CSS.
      .header-section
        %img{:src => 'assets/devices.png', :height => 400}
        .demo-loaders
          -loaders.sample(3).each_with_index do |loader, idx|
            .loader{:class => sizes[idx]}
              .container
                %div{:class => loader["class"] }      
    .loaders
      -loaders.each_with_index do |loader, k|
        .loader
          .container
            %div{:class => loader["class"] }
          .info
            %span.date= loader['date']
            %span.name= loader['name']
