@import url('common.css');
@import url('loaders.css');
@import url('slabo.css');

/***********************************
              GENERAL
***********************************/
body {
  margin: 0px;
  background: #08a;
  font-family: "Slabo 27px", sans-serif;
  max-width: 1000px;
  margin: auto;
}

/***********************************
              HEADER
***********************************/
.header {
  width: 100%;
  margin: 0px;
  padding: 50px;
  box-sizing: border-box;
  overflow: hidden;

  text-shadow: 0px 1px 1px gray;
  color: white;
}
.header h2 {
  font-size: 64px;
  margin: 0px;
}
.header p {
  width: 300px;
  font-size: 24px;
  color: #eee;
}
.header .header-section {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  width: 48%;
  position: relative;
}
.header .header-section:first-child {
  width: 25%;
}
.header .header-section img {
  margin-left: 26px;
}

/***********************************
          MAIN LOADERS
***********************************/
.loaders {
  padding: 20px;
  width: 100%;
  text-align: justify;
  margin: auto;
  box-sizing: border-box;
}
.container {
  padding: 30px;
  position: relative;
  margin: auto;
}
.loader {
  position: relative;
  padding: 40px;
  padding-top: 50px;
  box-sizing: border-box;

  display: inline-block;
  overflow: hidden;
}
.info {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 100%;
  font-style: italic;
  text-align: center;
}
.info .date {
  font-size: 10px;
  margin-left: -10px;
  color: #eee;
}
.info .name {
  font-size: 14px;
  color: white;
}

/***********************************
            DEMO LOADERS
***********************************/
.demo-loaders .loader {
  position: absolute;
}
.demo-loaders .loader:nth-child(1) {
  top: 215px;
  left: 123px;
}
.demo-loaders .loader:nth-child(2) {
  top: 180px;
  left: 246px;
}
.demo-loaders .loader:nth-child(3) {
  top: 100px;
  left: 500px;
}

/***********************************
            MEDIA QUERIES
***********************************/
@media(max-width: 800px) {
  .header .header-section {
    display: block;
    width: 100%!important;
  }
  .header .header-section:last-child {
    display: none;
  }
  .header p {
    width: 100%;
  }
  .loaders {
   text-align: center;
  }
}