.loader.small {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.loader.large {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.loader.xlarge {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.loader.xxlarge {
  -webkit-transform: scale(5);
  transform: scale(5);
}

.ld, .ld:before, .ld:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
}