.ld.ease,
.ld.ease:before,
.ld.ease:after {
  -webkit-animation-timing-function: ease!important;
  animation-timing-function: ease!important;
}
.ld.linear,
.ld.linear:before,
.ld.linear:after {
  -webkit-animation-timing-function: linear!important;
  animation-timing-function: linear!important;
}

.ld.slowest,
.ld.slowest:before,
.ld.slowest:after {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}
.ld.slow,
.ld.slow:before,
.ld.slow:after {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.ld.moderate,
.ld.moderate:before,
.ld.moderate:after {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.ld.fast,
.ld.fast:before,
.ld.fast:after {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.ld.fastest,
.ld.fastest:before,
.ld.fastest:after {
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
}

.ld, 
.ld:before, 
.ld:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
}

@-webkit-keyframes ld-generic-spin {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes ld-generic-spin {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}