.ld-atom,
.ld-atom:before,
.ld-atom:after {
  background: white;
  border-radius: 50px;
}
.ld-atom {
  padding: 8px;
  margin: -9px;
}
.ld-atom:before {
  padding: 5px;
  margin: -10px -30px;

  -webkit-transform-origin: 300% center;
  transform-origin: 300% center;

  -webkit-animation: ld-atom-before 1s 0s infinite linear;
  animation: ld-atom-before 1s 0s infinite linear;
}
.ld-atom:after {
  padding: 5px;
  margin: -5px 20px;

  -webkit-transform-origin: -200% center;
  transform-origin: -200% center;

  -webkit-animation: ld-atom-after 1s 0s infinite linear;
  animation: ld-atom-after 1s 0s infinite linear;
}

@-webkit-keyframes ld-atom-before {
  0% { 
    -webkit-transform: scale(0.5) rotateZ(-180deg); 
    transform: scale(0.5) rotateZ(-180deg); 
  }
  50% { 
    -webkit-transform: scale(1.2) rotateZ(-360deg); 
    transform: scale(1.2) rotateZ(-360deg); 
  }
  100% { 
    -webkit-transform: scale(0.5) rotateZ(-540deg); 
    transform: scale(0.5) rotateZ(-540deg); 
  }
}
@keyframes ld-atom-before {
  0% { 
    -webkit-transform: scale(0.5) rotateZ(-180deg); 
    transform: scale(0.5) rotateZ(-180deg); 
  }
  50% { 
    -webkit-transform: scale(1.2) rotateZ(-360deg); 
    transform: scale(1.2) rotateZ(-360deg); 
  }
  100% { 
    -webkit-transform: scale(0.5) rotateZ(-540deg); 
    transform: scale(0.5) rotateZ(-540deg); 
  }
}

@-webkit-keyframes ld-atom-after {
  0% { 
    -webkit-transform: scale(1.2) rotateZ(0deg); 
    transform: scale(1.2) rotateZ(0deg); 
  }
  50% { 
    -webkit-transform: scale(0.5) rotateZ(180deg);
    transform: scale(0.5) rotateZ(180deg);
  }
  100% { 
    -webkit-transform: scale(1.2) rotateZ(360deg); 
    transform: scale(1.2) rotateZ(360deg); 
  }
}
@keyframes ld-atom-after {
  0% { 
    -webkit-transform: scale(1.2) rotateZ(0deg); 
    transform: scale(1.2) rotateZ(0deg); 
  }
  50% { 
    -webkit-transform: scale(0.5) rotateZ(180deg);
    transform: scale(0.5) rotateZ(180deg);
  }
  100% { 
    -webkit-transform: scale(1.2) rotateZ(360deg); 
    transform: scale(1.2) rotateZ(360deg); 
  }
}