.ld-balloon {
  background: white;
  padding: 20px;
  margin: 25px 0px;
  border-radius: 20px;
  border-bottom-left-radius: 5px;
  z-index: 1;

  -webkit-transform-origin: left center;
  transform-origin: left center;

  -webkit-transform: rotateZ(-45deg);
  -transform: rotateZ(-45deg);

  -webkit-animation: ld-balloon 2s 0.2s infinite ease-out;
  animation: ld-balloon 2s 0.2s infinite ease-out;
}
.ld-balloon:before {
  -webkit-animation: ld-balloon-before 1.5s 0s infinite ease;
  animation: ld-balloon-before 1.5s 0s infinite ease;
}
@-webkit-keyframes ld-balloon {
  0% {
    padding: 0px;
    margin: 25px 0px;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
  }
  20%, 25% {
    padding: 20px;
    margin: -20px -10px;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
  }
  100% {
    padding: 0px;
    margin: -40px 20px;
    -webkit-transform: rotateZ(-720deg);
    transform: rotateZ(-720deg);
  }
}
@keyframes ld-balloon {
  0% {
    padding: 0px;
    margin: 25px 0px;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
  }
  20%, 25% {
    padding: 20px;
    margin: -20px -10px;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
  }
  100% {
    padding: 0px;
    margin: -40px 20px;
    -webkit-transform: rotateZ(-720deg);
    transform: rotateZ(-720deg);
  }
}


