.ld-cradle,
.ld-cradle:before,
.ld-cradle:after {
  position: absolute;

  padding: 10px;
  content: "";
  left: 50%;
  top: 50%;

  border: 2px solid white;
  border-radius: 50px;
}
.ld-cradle {
  margin: -12px;
}
.ld-cradle:before {
  margin: -12px -34px;

  -webkit-transform-origin: center top;
  transform-origin: center top;

  -webkit-animation: ld-cradle-before 1.0s 0s infinite linear;
  animation: ld-cradle-before 1.0s 0s infinite linear;
}
.ld-cradle:after {
  margin: -11px 11px;

  -webkit-transform-origin: center top;
  transform-origin: center top;

  -webkit-animation: ld-cradle-after 1.0s 0s infinite linear;
  animation: ld-cradle-after 1.0s 0s infinite linear;
}

@-webkit-keyframes ld-cradle-before {
  0%, 50% { 
    -webkit-transform: translateX(0px) rotateZ(0deg); 
    transform: translateX(0px) rotateZ(0deg); 
  }
  35% { 
    -webkit-transform: translateX(-10px) rotateZ(90deg); 
    transform: translateX(-10px) rotateZ(90deg); 
  }
}
@keyframes ld-cradle-before {
  0%, 50% { 
    -webkit-transform: translateX(0px) rotateZ(0deg); 
    transform: translateX(0px) rotateZ(0deg); 
  }
  35% { 
    -webkit-transform: translateX(-10px) rotateZ(90deg); 
    transform: translateX(-10px) rotateZ(90deg); 
  }
}

@-webkit-keyframes ld-cradle-after {
  0%, 50%, 100% { 
    -webkit-transform: translateX(0px) rotateZ(0deg); 
    transform: translateX(0px) rotateZ(0deg); 
  }
  85% { 
    -webkit-transform: translateX(10px) rotateZ(-90deg); 
    transform: translateX(10px) rotateZ(-90deg); 
  }
}
@keyframes ld-cradle-after {
  0%, 50%, 100% { 
    -webkit-transform: translateX(0px) rotateZ(0deg); 
    transform: translateX(0px) rotateZ(0deg); 
  }
  85% { 
    -webkit-transform: translateX(10px) rotateZ(-90deg); 
    transform: translateX(10px) rotateZ(-90deg); 
  }
}