.ld-disk {
  border-bottom: 10px solid white;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  width: 22px;
  margin: -30px -22px;
}
.ld-disk:before {
  padding: 5px;
  border: 20px solid white;
  margin: 30px -25px;
  border-radius: 30px;

  -webkit-animation: ld-disk-before 2s 0s infinite linear;
  animation: ld-disk-before 2s 0s infinite linear;
}
.ld-disk:after {
  padding: 4px 20px;
  margin: 10px -22px;
  border: 2px solid white;
}
@-webkit-keyframes ld-disk-before {
  0%, 100% {
    -webkit-transform: rotateX(0deg) scale(1) translateY(0px);
    transform: rotateX(0deg) scale(1) translateY(0px);
  } 
  20% {
    -webkit-transform: rotateX(70deg) scale(1) translateY(0px);
    transform: rotateX(70deg) scale(1) translateY(0px);
  }
  50%, 75% {
    -webkit-transform: rotateX(70deg) scale(0.7) translateY(-180px);
    transform: rotateX(70deg) scale(0.7) translateY(-180px);
  }
  80% {
    -webkit-transform: rotateX(70deg) scale(0.8) translateY(-100px);
    transform: rotateX(70deg) scale(0.8) translateY(-100px);
  }
  90% {
    -webkit-transform: rotateX(30deg) scale(1) translateY(0px);
    transform: rotateX(30deg) scale(1) translateY(0px);
  }
}
@keyframes ld-disk-before {
  0%, 100% {
    -webkit-transform: rotateX(0deg) scale(1) translateY(0px);
    transform: rotateX(0deg) scale(1) translateY(0px);
  } 
  20% {
    -webkit-transform: rotateX(70deg) scale(1) translateY(0px);
    transform: rotateX(70deg) scale(1) translateY(0px);
  }
  50%, 75% {
    -webkit-transform: rotateX(70deg) scale(0.7) translateY(-180px);
    transform: rotateX(70deg) scale(0.7) translateY(-180px);
  }
  80% {
    -webkit-transform: rotateX(70deg) scale(0.8) translateY(-100px);
    transform: rotateX(70deg) scale(0.8) translateY(-100px);
  }
  90% {
    -webkit-transform: rotateX(30deg) scale(1) translateY(0px);
    transform: rotateX(30deg) scale(1) translateY(0px);
  }
}


