.ld-flower:before {
  content: "❀"!important;
  color: white;
  font-size: 60px;
  margin: -30px -25px;
  line-height: 48px;

  -webkit-animation: ld-generic-throb-spin 3s 0s infinite linear;
  animation: ld-generic-throb-spin 3s 0s infinite linear;
}