.ld-hourglass {
  margin: -30px -20px;
  border-top: 30px solid white;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  -webkit-animation: ld-hourglass 1.5s 0s infinite linear;
  animation: ld-hourglass 1.5s 0s infinite linear;
}
.ld-hourglass:before {
  padding: 1px;
  margin: 0px -1px;
  background: white;
  border-radius: 4px;

  -webkit-animation: ld-hourglass-before 0.25s 0s infinite linear;
  animation: ld-hourglass-before 0.25s 0s infinite linear;
}
.ld-hourglass:after {
  margin: 0px -20px;
  border-bottom: 0px solid white;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  -webkit-transform-origin: center top;
  transform-origin: center top;

  -webkit-animation: ld-hourglass-after 1.5s 0s infinite linear;
  animation: ld-hourglass-after 1.5s 0s infinite linear;
}

@-webkit-keyframes ld-hourglass {
  0%, 97% {
    margin: -30px -20px;
    border-top: 30px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
  75%, 96% {
    margin: 0px;
    border-top: 0px solid white;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
  }
}
@keyframes ld-hourglass {
  0%, 97% {
    margin: -30px -20px;
    border-top: 30px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
  75%, 96% {
    margin: 0px;
    border-top: 0px solid white;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
  }
}

@-webkit-keyframes ld-hourglass-before {
  0% { 
    -webkit-transform: translateY(0px); 
    transform: translateY(0px); 
  }
  100% { 
    -webkit-transform: translateY(20px); 
    transform: translateY(20px); 
  }
}
@keyframes ld-hourglass-before {
  0% { 
    -webkit-transform: translateY(0px); 
    transform: translateY(0px); 
  }
  100% { 
    -webkit-transform: translateY(20px); 
    transform: translateY(20px); 
  }
}

@-webkit-keyframes ld-hourglass-after {
  0% {
    opacity: 0;
  }
  10% {
    margin: 30px 0px;
    border-bottom: 0px solid white;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }
  75% {
    margin: 0px -20px;
    border-bottom: 30px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  95%, 98% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    margin: 0px -20px;
    border-bottom: 30px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    opacity: 1;
  }
  99% {
    opacity: 0;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@keyframes ld-hourglass-after {
   0% {
    opacity: 0;
  }
  10% {
    margin: 30px 0px;
    border-bottom: 0px solid white;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }
  75% {
    margin: 0px -20px;
    border-bottom: 30px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  95%, 98% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    margin: 0px -20px;
    border-bottom: 30px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    opacity: 1;
  }
  99% {
    opacity: 0;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}