.ld-point-up:before,
.ld-point-right:before,
.ld-point-down:before,
.ld-point-left:before {
  color: white;
  font-size: 40px;
  margin: -35px -20px;

  -webkit-animation: ld-generic-point-up 0.75s 0s infinite ease;
  animation: ld-generic-point-up 0.75s 0s infinite ease;
}
.ld-point-up:before {
  content: "☝"!important;
}
.ld-point-right:before {
  content: "☞"!important;
  -webkit-animation-name: ld-generic-point-right;
  animation-name: ld-generic-point-right;
}
.ld-point-down:before {
  content: "☟"!important;
  -webkit-animation-name: ld-generic-point-down;
  animation-name: ld-generic-point-down;
}
.ld-point-left:before {
  content: "☜"!important;
  -webkit-animation-name: ld-generic-point-left;
  animation-name: ld-generic-point-left;
}

