.ld-portal,
.ld-portal:after,
.ld-portal:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
}
.ld-portal {
  width: 50px;
  height: 50px;
  margin: -28px -25px;

  border-top: 4px solid white;
  border-right: 1px solid transparent;
  border-radius: 30px;

  -webkit-animation: ld-portal 1.0s 0s infinite linear;
  animation: ld-portal 1.0s 0s infinite linear;
}
.ld-portal:after {
  width: 40px;
  height: 40px;
  margin: -19px -20px;

  border-bottom: 2px solid white;
  border-right: 2px solid transparent;
  border-radius: 20px;

  -webkit-animation: ld-portal-after 1.0s 0s infinite linear;
  animation: ld-portal-after 1.0s 0s infinite linear;
}
.ld-portal:before {
  width: 20px;
  height: 20px;
  margin: -9px -10px;

  border-top: 2px solid white;
  border-right: 2px solid transparent;
  border-radius: 20px;

  -webkit-animation: ld-portal 0.75s 0s infinite linear;
  animation: ld-portal 0.75s 0s infinite linear;
}


@-webkit-keyframes ld-portal {
  0% { 
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); 
  }
  100% { 
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg); 
  }
}
@keyframes ld-portal {
  0% { 
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); 
  }
  100% { 
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg); 
  }
}

@-webkit-keyframes ld-portal-after {
  0% { 
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); 
  }
  100% { 
    -webkit-transform: rotateZ(-1080deg);
    transform: rotateZ(-1080deg); 
  }
}
@keyframes ld-portal-after {
  0% { 
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); 
  }
  100% { 
    -webkit-transform: rotateZ(-1080deg);
    transform: rotateZ(-1080deg); 
  }
}