.ld-railroad {
  padding: 15px 36px;
  margin: -17px -36px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.ld-railroad:before {
  margin: -20px -42px;
  padding: 20px 3px;
  background: none;
  left: 50%;
  top: 50%;

  -webkit-animation: ld-railroad-before 0.5s 0s infinite linear;
  animation: ld-railroad-before 0.5s 0s infinite linear;
}

@-webkit-keyframes ld-railroad-before {
  0% {
    box-shadow: 14px 0px 0px white,
                28px 0px 0px white,
                42px 0px 0px white,
                56px 0px 0px white,
                70px 0px 0px white,
                84px 0px 0px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 7px 0px 0px white,
                21px 0px 0px white,
                35px 0px 0px white,
                49px 0px 0px white,
                63px 0px 0px white,
                77px 0px 0px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0px 0px 0px  rgba(255, 255, 255, 0),
                14px 0px 0px white,
                28px 0px 0px white,
                42px 0px 0px white,
                56px 0px 0px white,
                70px 0px 0px white;
  }
}
@keyframes ld-railroad-before {
  0% {
    box-shadow: 14px 0px 0px white,
                28px 0px 0px white,
                42px 0px 0px white,
                56px 0px 0px white,
                70px 0px 0px white,
                84px 0px 0px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 7px 0px 0px white,
                21px 0px 0px white,
                35px 0px 0px white,
                49px 0px 0px white,
                63px 0px 0px white,
                77px 0px 0px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0px 0px 0px  rgba(255, 255, 255, 0),
                14px 0px 0px white,
                28px 0px 0px white,
                42px 0px 0px white,
                56px 0px 0px white,
                70px 0px 0px white;
  }
}

