.ld-snowflake:before {
  content: "❄"!important;
  color: white;
  font-size: 60px;
  margin: -30px -20px;
  line-height: 48px;

  -webkit-animation: ld-generic-spin 2s 0s infinite linear;
  animation: ld-generic-spin 2s 0s infinite linear;
}