.ld-slideshow:before,
.ld-slideshow:after {
  padding: 15px 20px;
  margin: -15px -40px;
  background: white;

  -webkit-transform: rotateZ(5deg) rotateY(-90deg);
  transform:  rotateZ(5deg) rotateY(-90deg);
}
.ld-slideshow:before {
  -webkit-animation: ld-slideshow 2s 0s infinite linear;
  animation: ld-slideshow 2s 0s infinite linear;
}
.ld-slideshow:after {
  -webkit-animation: ld-slideshow 2s 1s infinite linear;
  animation: ld-slideshow 2s 1s infinite linear;
}

@-webkit-keyframes ld-slideshow {
  0% {
    margin: -15px -55px;
    -webkit-transform: rotateZ(5deg) rotateY(-90deg);
    transform: rotateZ(5deg) rotateY(-90deg);
  }
  40% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    margin: -15px 15px;
    -webkit-transform: rotateZ(-5deg) rotateY(90deg);
    transform: rotateZ(-5deg) rotateY(90deg);
  }
}
@keyframes ld-slideshow {
  0% {
    margin: -15px -55px;
    -webkit-transform: rotateZ(5deg) rotateY(-90deg);
    transform: rotateZ(5deg) rotateY(-90deg);
  }
  40% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    margin: -15px 15px;
    -webkit-transform: rotateZ(-5deg) rotateY(90deg);
    transform: rotateZ(-5deg) rotateY(90deg);
  }
}