.ld-splash,
.ld-splash:after,
.ld-splash:before {
  border: 2px solid white;
  padding: 0px;
  margin: -2px;
  border-radius: 45px;
  background: none;
}
.ld-splash {
  -webkit-animation: ld-splash 2s 0.4s infinite ease-out;
  animation: ld-splash 2s 0.4s infinite ease-out;
}
.ld-splash:before {
  -webkit-animation: ld-splash 2s 0.2s infinite ease-out;
  animation: ld-splash 2s 0.2s infinite ease-out;
}
.ld-splash:after {
  -webkit-animation: ld-splash 2s 0s infinite ease-out;
  animation: ld-splash 2s 0s infinite ease-out;
}

@-webkit-keyframes ld-splash {
  0%, 100% {
    padding: 0px;
    margin: -2px;
  }
  90% {
    padding: 30px;
    margin: -32px;
    opacity: 0.8;
  }
}
@keyframes ld-splash {
  0%, 100% {
    padding: 0px;
    margin: -2px;
  }
  90% {
    padding: 30px;
    margin: -32px;
    opacity: 0.8;
  }
}