.ld-slide-left:before,
.ld-slide-left:after {
  padding: 12px 17px;
  margin: -12px -17px;
  background: white;
}
.ld-slide-left:before {
  -webkit-transform-origin: -50% center;
  transform-origin: -50% center;

  -webkit-animation: ld-slide-left-before 1s 0s infinite ease;
  animation: ld-slide-left-before 1s 0s infinite ease;
}
.ld-slide-left:after {
  -webkit-transform-origin: 150% center;
  transform-origin: 150% center;

  -webkit-transform: rotateZ(10deg) rotateX(90deg);
  transform: rotateZ(10deg) rotateX(90deg);

  -webkit-animation: ld-slide-left-after 1s 0s infinite ease;
  animation: ld-slide-left-after 1s 0s infinite ease;
}

@-webkit-keyframes ld-slide-left-before {
  0% {
    -webkit-transform: rotateZ(0deg) rotateY(0deg);
    transform: rotateZ(0deg) rotateY(0deg);
  }
  80%, 100% {
    -webkit-transform: rotateZ(-10deg) rotateY(-90deg);
    transform: rotateZ(-10deg) rotateY(-90deg);
  }
}
@keyframes ld-slide-left-before {
  0% {
    -webkit-transform: rotateZ(0deg) rotateY(0deg);
    transform: rotateZ(0deg) rotateY(0deg);
  }
  80%, 100% {
    -webkit-transform: rotateZ(-10deg) rotateY(-90deg);
    transform: rotateZ(-10deg) rotateY(-90deg);
  }
}

@-webkit-keyframes ld-slide-left-after {
  0% {
    -webkit-transform: rotateZ(10deg) rotateX(90deg);
    transform: rotateZ(10deg) rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg) rotateX(0deg);
    transform: rotateZ(0deg) rotateX(0deg);
  }
}
@keyframes ld-slide-left-after {
  0% {
    -webkit-transform: rotateZ(10deg) rotateX(90deg);
    transform: rotateZ(10deg) rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg) rotateX(0deg);
    transform: rotateZ(0deg) rotateX(0deg);
  }
}