.ld-suits:before {
  content: "♠♣♥♦";
  font-size: 40px;
  margin: -30px -40px;
  line-height: 48px;
  width: 0px;
  height: 40px;
  overflow: hidden;

  -webkit-animation: ld-suits 1.5s 0s infinite linear;
  animation: ld-suits 1.5s 0s infinite linear;
}
@-webkit-keyframes ld-suits {
  0%, 9.9% { width: 0px; }
  10%, 19.9% { width: 22px; }
  20%, 29.9% { width: 48px; }
  30%, 39.9% { width: 72px; }
  40%, 100% { width: 98px; }
}
@keyframes ld-suits {
  0%, 9.9% { width: 0px; }
  10%, 19.9% { width: 22px; }
  20%, 29.9% { width: 48px; }
  30%, 39.9% { width: 72px; }
  40%, 100% { width: 98px; }
}