.ld-yin-yang:before {
  content: "࿊"!important;
  font-size: 60px;
  margin: -30px -20px;
  line-height: 40px;

  -webkit-transform-origin: 50% 62%;
  transform-origin: 50% 62%;

  -webkit-animation: ld-generic-spin 1.5s 0s infinite ease;
  animation: ld-generic-spin 1.5s 0s infinite ease;
}
.ld-yin-yang-tri:before {
  content: "࿋"!important;
  font-size: 60px;
  margin: -30px -20px;
  line-height: 40px;

  -webkit-transform-origin: 50% 62%;
  transform-origin: 50% 62%;

  -webkit-animation: ld-generic-spin 1.5s 0s infinite linear;
  animation: ld-generic-spin 1.5s 0s infinite linear;
}
.ld-yin-yang-tetra:before {
  content: "࿌"!important;
  color: white;
  font-size: 60px;
  margin: -30px -20px;
  line-height: 40px;

  -webkit-transform-origin: 50% 69%;
  transform-origin: 50% 69%;

  -webkit-animation: ld-generic-spin 1.5s 0s infinite linear;
  animation: ld-generic-spin 1.5s 0s infinite linear;
}