.loader02,
.loader02:after,
.loader02:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
}
.loader02 {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -28px;

  border-top: 4px solid white;
  border-right: 1px solid transparent;
  border-radius: 30px;

  -webkit-animation: loader02 1.0s 0s infinite linear;
  animation: loader02 1.0s 0s infinite linear;
}
.loader02:after {
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -19px;

  border-bottom: 2px solid white;
  border-right: 2px solid transparent;
  border-radius: 20px;

  -webkit-animation: loader02-after 1.0s 0s infinite linear;
  animation: loader02-after 1.0s 0s infinite linear;
}
.loader02:before {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -9px;

  border-top: 2px solid white;
  border-right: 2px solid transparent;
  border-radius: 20px;

  -webkit-animation: loader02 0.75s 0s infinite linear;
  animation: loader02 0.75s 0s infinite linear;
}


@-webkit-keyframes loader02 {
  0% { 
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); 
  }
  100% { 
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg); 
  }
}
@keyframes loader02 {
  0% { 
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); 
  }
  100% { 
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg); 
  }
}

@-webkit-keyframes loader02-after {
  0% { 
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); 
  }
  100% { 
    -webkit-transform: rotateZ(-1080deg);
    transform: rotateZ(-1080deg); 
  }
}
@keyframes loader02-after {
  0% { 
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); 
  }
  100% { 
    -webkit-transform: rotateZ(-1080deg);
    transform: rotateZ(-1080deg); 
  }
}