.loader24,
.loader24:before,
.loader24:after {
  position: absolute;
  content: "";

  top: 50%;
  left: 50%;
}
.loader24 {
  border: 4px solid white;
  border-bottom: 10px solid white;
  padding: 30px 20px;
  border-radius: 5px;
  margin: -30px -22px;
}
.loader24:before {
  padding: 4px;
  background: none;
  border-radius: 2px;
  margin: -25px -28px;
    box-shadow: 12px 0px 0px white,
                24px 0px 0px white,
                36px 0px 0px white,
                48px 0px 0px rgba(255,255,255,0),
                12px 13px 0px white,
                24px 13px 0px white,
                36px 13px 0px white,
                48px 13px 0px rgba(255,255,255,0),
                12px 26px 0px white,
                24px 26px 0px white,
                36px 26px 0px white,
                48px 26px 0px rgba(255,255,255,0);

  -webkit-animation: loader24-before 1s 0s infinite ease;
  animation: loader24-before 1s 0s infinite ease;
}
.loader24:after {
  border: 2px solid white;
  padding: 10px 4px;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-top: 10px;

  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  
  -webkit-transform: rotateZ(15deg);
  transform: rotateZ(15deg);

  -webkit-animation: loader24-after 1s 0s infinite ease;
  animation: loader24-after 1s 0s infinite ease;
}
@-webkit-keyframes loader24-before {
  0% {
    box-shadow: 12px 0px 0px white,
                24px 0px 0px white,
                36px 0px 0px white,
                48px 0px 0px rgba(255,255,255,0),
                12px 13px 0px white,
                24px 13px 0px white,
                36px 13px 0px white,
                48px 13px 0px rgba(255,255,255,0),
                12px 26px 0px white,
                24px 26px 0px white,
                36px 26px 0px white,
                48px 26px 0px rgba(255,255,255,0);
  }
  50%, 100% { 
    box-shadow: 0px 0px 0px rgba(255,255,255,0),
                12px 0px 0px white,
                24px 0px 0px white,
                36px 0px 0px white,
                0px 13px 0px rgba(255,255,255,0),
                12px 13px 0px white,
                24px 13px 0px white,
                36px 13px 0px white,
                0px 26px 0px rgba(255,255,255,0),
                12px 26px 0px white,
                24px 26px 0px white,
                36px 26px 0px white;
  }
}
@keyframes loader24-before {
  0% {
    box-shadow: 12px 0px 0px white,
                24px 0px 0px white,
                36px 0px 0px white,
                48px 0px 0px rgba(255,255,255,0),
                12px 13px 0px white,
                24px 13px 0px white,
                36px 13px 0px white,
                48px 13px 0px rgba(255,255,255,0),
                12px 26px 0px white,
                24px 26px 0px white,
                36px 26px 0px white,
                48px 26px 0px rgba(255,255,255,0);
  }
  50%, 100% { 
    box-shadow: 0px 0px 0px rgba(255,255,255,0),
                12px 0px 0px white,
                24px 0px 0px white,
                36px 0px 0px white,
                0px 13px 0px rgba(255,255,255,0),
                12px 13px 0px white,
                24px 13px 0px white,
                36px 13px 0px white,
                0px 26px 0px rgba(255,255,255,0),
                12px 26px 0px white,
                24px 26px 0px white,
                36px 26px 0px white;
  }
}
@-webkit-keyframes loader24-after {
  0%, 100% {
    -webkit-transform: rotateZ(25deg) translateX(0px);
  }
  20%, 80% {
    -webkit-transform: rotateZ(-5deg) translateX(-20px);
  }
}
@keyframes loader24-after {
  0%, 100% {
    -webkit-transform: rotateZ(25deg) translateX(0px);
  }
  20%, 80% {
    -webkit-transform: rotateZ(-5deg) translateX(-20px);
  }
}


