.loader02,
.loader02:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
}
.loader02 {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -28px;

  border-top: 6px solid white;
  border-radius: 30px;

  -webkit-animation: loader02 1.0s 0s infinite linear;
  animation: loader02 1.0s 0s infinite linear;
}
.loader02:after {
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -14px;

  border-bottom: 2px solid white;
  border-radius: 20px;

  -webkit-animation: loader02-after 1.0s 0s infinite linear;
  animation: loader02-after 1.0s 0s infinite linear;
}

@-webkit-keyframes loader02 {
  0% { 
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); 
  }
  100% { 
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg); 
  }
}
@keyframes loader02 {
  0% { 
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); 
  }
  100% { 
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg); 
  }
}

@-webkit-keyframes loader02-after {
  0% { 
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); 
  }
  100% { 
    -webkit-transform: rotateZ(-1080deg);
    transform: rotateZ(-1080deg); 
  }
}
@keyframes loader02-after {
  0% { 
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg); 
  }
  100% { 
    -webkit-transform: rotateZ(-1080deg);
    transform: rotateZ(-1080deg); 
  }
}