.loader09,
.loader09:before,
.loader09:after {
  position: absolute;

  content: "";
  left: 50%;
  top: 50%;
}
.loader09 {
  padding: 20px 35px;
  margin-left: -35px;
  margin-top: -24px;

  border-top: 4px solid white;
  border-bottom: 4px solid white;
}
.loader09:before,
.loader09:after {
  padding: 20px 6px;

  border-left: 6px solid white;
  border-right: 6px solid white;
}
.loader09:before {
  margin-left: -24px;
  margin-top: -20px;

  -webkit-animation: loader09-before 0.5s 0s infinite linear;
  animation: loader09-before 0.5s 0s infinite linear;
}
.loader09:after {
  margin-left: 12px;
  margin-top: -20px;

  -webkit-animation: loader09-after 0.5s 0s infinite linear;
  animation: loader09-after 0.5s 0s infinite linear;
}

@-webkit-keyframes loader09-before {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    border-left-color: white;
  }
  50% {
    border-left-color: rgba(255,255,255,0);
  }
  100% {
    -webkit-transform: translateX(-18px);
    transform: translateX(-18px);
    border-left-color: rgba(255,255,255,0);
  }
}
@keyframes loader09-before {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    border-left-color: white;
  }
  50% {
    border-left-color: rgba(255,255,255,0);
  }
  100% {
    -webkit-transform: translateX(-18px);
    transform: translateX(-18px);
    border-left-color: rgba(255,255,255,0);
  }
}

@-webkit-keyframes loader09-after {
  0% {
    border-left-color: white;
    border-right-color: rgba(255,255,255,0);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    border-right-color: white;
  }
  100% {
    -webkit-transform: translateX(-18px);
    transform: translateX(-18px);
  }
}
@keyframes loader09-after {
@-webkit-keyframes loader09-after {
  0% {
    border-left-color: white;
    border-right-color: rgba(255,255,255,0);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    border-right-color: white;
  }
  100% {
    -webkit-transform: translateX(-18px);
    transform: translateX(-18px);
  }
}