.loader03,
.loader03:before,
.loader03:after {
  position: absolute;

  padding: 10px;
  content: "";
  left: 50%;
  top: 50%;

  border: 1px solid white;
  border-radius: 50px;
}
.loader03 {
  margin-left: -11px;
  margin-top: -11px;
}
.loader03:before {
  margin-left: -33px;
  margin-top: -11px;

  -webkit-transform-origin: center top;
  transform-origin: center top;

  -webkit-animation: loader03-before 1.0s 0s infinite linear;
  animation: loader03-before 1.0s 0s infinite linear;
}
.loader03:after {
  margin-left: 11px;
  margin-top: -11px;

  -webkit-transform-origin: center top;
  transform-origin: center top;

  -webkit-animation: loader03-after 1.0s 0s infinite linear;
  animation: loader03-after 1.0s 0s infinite linear;
}

@-webkit-keyframes loader03-before {
  0%, 50% { transform: translateX(0px); }
  35% { transform: translateX(-30px) rotateZ(-90deg); }
}

@-webkit-keyframes loader03-after {
  0%, 50%, 100% { transform: translateX(0px); }
  85% { transform: translateX(30px) rotateZ(90deg); }
}