.loader03,
.loader03:before,
.loader03:after {
  position: absolute;

  padding: 10px;
  content: "";
  left: 50%;
  top: 50%;

  border: 2px solid white;
  border-radius: 50px;
}
.loader03 {
  margin-left: -12px;
  margin-top: -12px;
}
.loader03:before {
  margin-left: -34px;
  margin-top: -12px;

  -webkit-transform-origin: center top;
  transform-origin: center top;

  -webkit-animation: loader03-before 1.0s 0s infinite linear;
  animation: loader03-before 1.0s 0s infinite linear;
}
.loader03:after {
  margin-left: 11px;
  margin-top: -11px;

  -webkit-transform-origin: center top;
  transform-origin: center top;

  -webkit-animation: loader03-after 1.0s 0s infinite linear;
  animation: loader03-after 1.0s 0s infinite linear;
}

@-webkit-keyframes loader03-before {
  0%, 50% { 
    -webkit-transform: translateX(0px) rotateZ(0deg); 
    transform: translateX(0px) rotateZ(0deg); 
  }
  35% { 
    -webkit-transform: translateX(-30px) rotateZ(180deg); 
    transform: translateX(-30px) rotateZ(180deg); 
  }
}
@keyframes loader03-before {
  0%, 50% { 
    -webkit-transform: translateX(0px) rotateZ(0deg); 
    transform: translateX(0px) rotateZ(0deg); 
  }
  35% { 
    -webkit-transform: translateX(-30px) rotateZ(180deg); 
    transform: translateX(-30px) rotateZ(180deg); 
  }
}

@-webkit-keyframes loader03-after {
  0%, 50%, 100% { 
    -webkit-transform: translateX(0px) rotateZ(0deg); 
    transform: translateX(0px) rotateZ(0deg); 
  }
  85% { 
    -webkit-transform: translateX(30px) rotateZ(-180deg); 
    transform: translateX(30px) rotateZ(-180deg); 
  }
}
@keyframes loader03-after {
  0%, 50%, 100% { 
    -webkit-transform: translateX(0px) rotateZ(0deg); 
    transform: translateX(0px) rotateZ(0deg); 
  }
  85% { 
    -webkit-transform: translateX(30px) rotateZ(-180deg); 
    transform: translateX(30px) rotateZ(-180deg); 
  }
}