.loader17,
.loader17:before,
.loader17:after {
  position: absolute;
  content: "";

  top: 50%;
  left: 50%;
}
.loader17 {
  border: 2px solid white;
  padding: 15px;
  border-radius: 3px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;

  margin-left: -17px;
  margin-top: -17px;
  z-index: 1;

  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  -webkit-animation: loader17 4s 0s infinite linear;
  animation: loader17 4s 0s infinite linear;
}
.loader17:before {
  border: 1px solid white;
  padding: 8px;
  border-radius: 20px;
  margin-top: -9px;
  margin-left: -9px;
  -webkit-animation: loader17-before 2s 0s infinite linear;
  animation: loader17-before 2s 0s infinite linear;
}
.loader17:after {
  padding: 3px;
  background: white;
  margin-top: -3px;
  margin-left: -3px;
  border-radius: 8px;
  -webkit-animation: loader17-after 2s 0s infinite linear;
  animation: loader17-after 2s 0s infinite linear;
}
@-webkit-keyframes loader17 {
  2%, 62% {
    -webkit-transform: rotateZ(85deg) rotateX(90deg) rotateY(-90deg);
    transform: rotateZ(85deg) rotateX(90deg) rotateY(-90deg);
  }
  0%, 4%, 60%, 64% {
    -webkit-transform: rotateZ(45deg) rotateX(0deg) rotateY(0deg);
    transform: rotateZ(45deg) rotateX(0deg) rotateY(0deg);
  }
}
@keyframes loader17 {
  2%, 62% {
    -webkit-transform: rotateZ(85deg) rotateX(90deg) rotateY(-90deg);
    transform: rotateZ(85deg) rotateX(90deg) rotateY(-90deg);
  }
  0%, 4%, 60%, 64% {
    -webkit-transform: rotateZ(45deg) rotateX(0deg) rotateY(0deg);
    transform: rotateZ(45deg) rotateX(0deg) rotateY(0deg);
  }
}
@-webkit-keyframes loader17-before {
  0%, 39%, 81%, 100% {
    margin-top: -9px;
    margin-left: -9px;
  }
  40%, 60% {
    margin-top: -2px;
    margin-left: -7px;
  }
  61%, 80% {
    margin-top: -12px;
    margin-left: -3px;
  }
}
@keyframes loader17-before {
  0%, 39%, 81%, 100% {
    margin-top: -9px;
    margin-left: -9px;
  }
  40%, 60% {
    margin-top: -2px;
    margin-left: -7px;
  }
  61%, 80% {
    margin-top: -12px;
    margin-left: -3px;
  }
}
@-webkit-keyframes loader17-after {
  0%, 39%, 81%, 100% {
    margin-top: -3px;
    margin-left: -3px;
  }
  40%, 60% {
    margin-top: 4px;
    margin-left: -1px;
  }
  61%, 80% {
    margin-top: -6px;
    margin-left: 3px;
  }
}
@keyframes loader17-after {
  0%, 39%, 81%, 100% {
    margin-top: -3px;
    margin-left: -3px;
  }
  40%, 60% {
    margin-top: 4px;
    margin-left: -1px;
  }
  61%, 80% {
    margin-top: -6px;
    margin-left: 3px;
  }
}

