
.loader01 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-left: -18px;
  margin-top: -18px;
  border: 8px solid red;

  -webkit-animation: loader01 2.0s 0s infinite ease-out;
  animation: loader01 2.0s 0s infinite ease-out;
}

@-webkit-keyframes loader01 {
  0%, 100% { 
    border-radius: 35px;
    transform: rotateZ(135deg);
    border-color: #080;
  }
  15% {
    border-radius: 35px;
    border-top-left-radius: 0px;
    transform: rotateZ(225deg);
    /*border-color: #e5a;*/
  }
  30% {
    border-radius: 35px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transform: rotateZ(315deg);
    /*border-color: #eb2;*/
  }
  45% {
    border-radius: 35px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transform: rotateZ(405deg);
    /*border-color: #13c;*/
  }
  60%,80% {
    border-radius: 0px;
    transform: rotateZ(495deg);
    border-color: #0a8;
  }
}