.loader08,
.loader08:before,
.loader08:after {
  position: absolute;

  content: "";
  left: 50%;
  top: 40%;
}
.loader08 {
  margin-left: -20px;
  margin-top: -30px;

  border-top: 30px solid white;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  -webkit-animation: loader08 1.5s 0s infinite linear;
  animation: loader08 1.5s 0s infinite linear;
}
.loader08:before {
  padding: 1px;
  margin-left: -1px;
  margin-top: 0px;
  background: white;
  border-radius: 4px;

  -webkit-animation: loader08-before 0.25s 0s infinite linear;
  animation: loader08-before 0.25s 0s infinite linear;
}
.loader08:after {
  margin-left: -20px;
  margin-top: 0px;

  border-bottom: 0px solid white;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  -webkit-transform-origin: center top;
  transform-origin: center top;

  -webkit-animation: loader08-after 1.5s 0s infinite linear;
  animation: loader08-after 1.5s 0s infinite linear;
}

@-webkit-keyframes loader08 {
  0%, 97% {
    margin-left: -20px;
    margin-top: -30px;
    border-top: 30px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
  75%, 96% {
    margin-top: 0px;
    margin-left: 0px;
    border-top: 0px solid white;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
  }
}
@keyframes loader08 {
  0%, 96% {
    margin-left: -20px;
    margin-top: -30px;
    border-top: 30px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
  75%, 95% {
    margin-top: 0px;
    margin-left: 0px;
    border-top: 0px solid white;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
  }
}

@-webkit-keyframes loader08-before {
  0% { 
    -webkit-transform: translateY(0px); 
    transform: translateY(0px); 
  }
  100% { 
    -webkit-transform: translateY(20px); 
    transform: translateY(20px); 
  }
}
@keyframes loader08-before {
  0% { 
    -webkit-transform: translateY(0px); 
    transform: translateY(0px); 
  }
  100% { 
    -webkit-transform: translateY(20px); 
    transform: translateY(20px); 
  }
}

@-webkit-keyframes loader08-after {
  0% {
    opacity: 0;
  }
  10% {
    margin-top: 30px;
    margin-left: 0px;
    border-bottom: 0px solid white;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }
  75% {
    margin-top: 0px;
    margin-left: -20px;
    border-bottom: 30px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  95%, 98% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    margin-top: 0px;
    margin-left: -20px;
    border-bottom: 30px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    opacity: 1;
  }
  99% {
    opacity: 0;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}
@keyframes loader08-after {
  0% {
    opacity: 0;
  }
  10% {
    margin-top: 30px;
    margin-left: 0px;
    border-bottom: 0px solid white;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }
  75% {
    margin-top: 0px;
    margin-left: -20px;
    border-bottom: 30px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  95%, 98% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    margin-top: 0px;
    margin-left: -20px;
    border-bottom: 30px solid white;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    opacity: 1;
  }
  99% {
    opacity: 0;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}