.loader12,
.loader12:before,
.loader12:after {
  position: absolute;

  content: "";
  left: 50%;
  top: 50%;
}
.loader12 {
  padding: 20px;
  border: 4px solid white;
  border-radius: 30px;
  border-left-color: transparent;
  border-right-color: transparent;

  margin-top: -30px;
  margin-left: -30px;

  -webkit-animation: loader12 2s 0s infinite linear;
  animation: loader12 2s 0s infinite linear;
}
.loader12:before {
  padding: 12px;
  border: 6px solid white;
  border-radius: 30px;
  border-left-color: transparent;
  border-right-color: transparent;

  margin-top: -18px;
  margin-left: -18px;
  -webkit-animation: loader12-before 2s 0s infinite linear;
  animation: loader12-before 2s 0s infinite linear;
}
.loader12:after {
  padding: 8px;
  border: 2px solid white;
  border-radius: 30px;
  border-left-color: transparent;
  border-right-color: transparent;

  margin-top: -10px;
  margin-left: -10px;
  -webkit-animation: loader12-before 1s 0s infinite linear;
  animation: loader12-before 1s 0s infinite linear;
}

@-webkit-keyframes loader12 {
  0% { 
    -webkit-transform: rotateZ(0deg); 
    transform: rotateZ(0deg); 
  }
  100% { 
    -webkit-transform: rotateZ(360deg); 
    transform: rotateZ(360deg); 
  }
}
@keyframes loader12 {
  0% { 
    -webkit-transform: rotateZ(0deg); 
    transform: rotateZ(0deg); 
  }
  100% { 
    -webkit-transform: rotateZ(360deg); 
    transform: rotateZ(360deg); 
  }
}

@-webkit-keyframes loader12-before {
  0% { 
    -webkit-transform: rotateZ(0deg) rotateX(0deg); 
    transform: rotateZ(0deg) rotateX(0deg); 
  }
  100% { 
    -webkit-transform: rotateZ(-540deg) rotateX(360deg); 
    transform: rotateZ(-540deg) rotateX(360deg); 
  }
}
@keyframes loader12-before {
  0% { 
    -webkit-transform: rotateZ(0deg) rotateX(0deg); 
    transform: rotateZ(0deg) rotateX(0deg); 
  }
  100% { 
    -webkit-transform: rotateZ(-540deg) rotateX(360deg); 
    transform: rotateZ(-540deg) rotateX(360deg); 
  }
}
